body {
  padding-top: 4rem;
  background-color: #fff;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}

.title-text {
  margin-left: 2em;
}

h1, h2 {
  margin: 0px;
}

h1 {
  font-size: 4rem;
  font-weight: 200;
  color: #152935;
}

h2 {
  font-size: 2rem;
  font-weight: 100;
  color: #5A6872;
}

.icon {
  fill: #ccc;
  align-self: flex-end;
}

.placeholder {
  margin-bottom: 1.5rem;
  text-align: center;
  display: flex;
  justify-content: center;
}

.section-container {
  background-color: #F5F7FA;
  padding: 3rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.section-item {
  max-width: 30rem;
  min-width: 20rem;
}

.section-item > h3 {
  font-size: 2rem;
  color: #3D70B2;
  font-weight: 300;
  margin-bottom: 1.2rem;
}

.section-item > p {
  font-size: 1.1rem;
  line-height: 1.6rem;
}

#event-specs {
  text-align: center;
  margin-top: 1.5rem;
}


@media (max-width: 955px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1rem;
  }

  .section-container {
    padding: 3rem 1rem;
  }

  .section-item {
    margin-bottom: 3rem;
  }

  .section-item > h3 {
    font-size: 1.5rem;
    margin-bottom: .8rem;
  }

  .section-item > p {
    font-size: .8rem;
    line-height: 1.2rem;
  }
}
